#spring.application.name=allnotes

spring:
    security:
        oauth2:
            resourceserver:
                jwt:
                    issuer-uri: https://cognito-idp.us-east-2.amazonaws.com/us-east-2_xiYB7SBTN/.well-known/jwks.json